// Place all the styles related to the css controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./colors";

#css-exam {
  .blue-rect-wrapper {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: 1px solid #0073c4;
  }

  .rect1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .rect2 {
    width: 100px;
    height: 100px;
    float: left;
  }

  .question-01 {

  }

  .question-02 {
    .rect {
      border: 1px solid white;
      box-sizing: border-box;
    }
  }

  .question-03 {
    .rect {
      padding: 10px;
      width: 100%;
      color: white;
      font-size: 1.5rem;
      vertical-align: middle; /* 「vertical-align」を指定してもテキストは縦方向中央揃いにならない */
      text-align: center;
    }
  }
}
